body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
